body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  #articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .article {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 300px;
    cursor: pointer;
  }
  .article:first-child {
    width: 450px;
  }
  
  .article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .article h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .article p {
    margin: 0;
  }
  
  .article-date {
    font-style: italic;
    color: #888;
  }